@import "./consts.scss";

.container {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.canvasContainer {
  background-color: $mainColor;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  width: 100%;
  height: calc(100% - 4.5em);
  transform: translate(-50%, 0%);
  top: 4.5em;
  left: 50%;
  position: relative;
  box-shadow: 0 0 0.7em 0.1em rgba(45, 52, 54, .5);
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
