@import "../consts.scss";

.form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  width: 30em;
  height: 4.5em;
}

.urlInput {
  border: 0;
  margin: 1em 0;
  padding: .5em;
}

.button {
  border-radius: 0;
  background-color: rgb(169, 171, 174);
  color: black;
  border: 1px solid;
  padding: .5em;
  cursor: pointer;
  transition: .1s;

  &:disabled {
    background-color: rgb(224, 225, 226);
    opacity: .8;
    cursor: default;
  }

  &:hover {
    background-color: rgb(224, 225, 226);
  }
}

.blockType {
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 0;
  padding: 0.5em .5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.10);
}

@media (max-width: $mobileVersionBreakpoint) {
  .form {
    position: relative;
    z-index: 1;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: .5em 2em;
    width: auto;
  }
}
